.barChartRects {
  fill: blue;
}
.barChartAxis {
  stroke: black;
  stroke-width: 4px;
}
.graph {
  float: left;
  padding-top: 40px;
}
.xLabel {
  text-anchor: end;
  fill: blue;
}
.graphMinusXLabel {
}
.divisions {
  stroke: grey;
}
